.site-header{
    background-color: aqua;
    color: black;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-text{
    margin: 10px;
}
.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    margin-top: -88px;
    box-shadow: #1f7175 2px 5px 5px;
}
body{
    margin: 0;
}